extends ../layout.jade

block links
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/lumen/bootstrap.min.css")
  link(rel="stylesheet", href="/css/style.css")

block content
  p
    a(href="/auth/signup/") Doctor Sign Up

  h2 Doctors Log In
  form(action="/auth/doctor-login" method="POST")  
    p
      label Username
      input(type="text" name="user[username]" autofocus)
    p
      label Password
      input(type="password" name="user[password]")
    p
      input(type="submit" value="Log In")

  h2 Patients Log In
  form(action="/auth/patient-login" method="POST")  
    p
      label Username
      input(type="text" name="user[username]" autofocus)
    p
      label Password
      input(type="password" name="user[password]")
    p
      input(type="submit" value="Log In")