extends ../layout.jade

block links
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/lumen/bootstrap.min.css")
  link(rel="stylesheet", href="/css/style.css")

block content
  .row.content
    .col-xs-3.col-xs-offset-2
      .panel(class="panel panel-default")
        .panel-heading
          .panel-default 
            h4.text-center Sign in as doctor
        .desc
          form(action="/auth/doctor-login" method="POST")  
            p.text-center
              label Username
              br
              input(type="text" name="user[username]" autofocus)
            p.text-center
              label Password
              br
              input(type="password" name="user[password]")
            p.text-center
              input(type="submit" value="Submit")
            if (message1)
              p.text-center.text-danger= message1
    .col-xs-3.col-xs-offset-2
      .panel(class="panel panel-default")
        .panel-heading
          .panel-default
            h4.text-center Sign in as patient
        .desc
          form(action="/auth/patient-login" method="POST")  
              p.text-center
                label Username
                br
                input(type="text" name="user[username]" autofocus)
              p.text-center
                label Password
                br
                input(type="password" name="user[password]")
              p.text-center
                input(type="submit" value="Submit")
              if (message2)
                p.text-center.text-danger= message2



