extends ../layout.jade

block links
  link(rel="stylesheet", href="/css/style.css")

block content
  .row.signup
    .col-xs-4.col-xs-offset-4
      .panel(class="panel panel-default")
        .panel-heading
          .panel-default 
            h4.text-center Doctors Sign Up
        .desc
          form(action="/auth/signup" method="POST") 
            p.text-center
              label First Name
              br
              input(type="text" name="user[firstname]")
            p.text-center
              label Last Name
              br
              input(type="text" name="user[lastname]")
            p.text-center
              label Email
              br
              input(type="email" name="user[email]")
            p.text-center
              label Username
              br
              input(type="text" name="user[username]" autofocus)
            p.text-center
              label Password
              br
              input(type="password" name="user[password]")
            p.text-center
              input(type="submit" value="Sign Up")
            if (message)
              p.text-center.text-danger= message