extends ./layout.jade
block links
  link(rel="stylesheet", href="/css/homepage.css")
block content
  .jumbotron
    h2 Vision Therapy Online
      p.lead
        | Using state of the art technology to connect patients and eyecare providers.
      hr.m-y-2 
      p.quote "Developments in medical technology have long been confined to procedural or pharmaceutical advances, while neglecting a most basic and essential component of medicine: patient information management."
      hr.m-y-2
      p(class="lead, right")
        a.btn.btn-primary.btn-lg(href='/about', role='button') Learn more
    div.row
      form(action="/auth/doctorSample", method="post")
        input(type="hidden", name="user[username]", value="a")
        input(type="hidden", name="user[password]", value="a")
        button.btn.btn-primary.btn-lg(type="submit") Sample Doctor Page
      form(action="/auth/patientSample", method="post")
        input(type="hidden", name="user[username]", value="a")
        input(type="hidden", name="user[password]", value="a")
        button.btn.btn-primary.btn-lg(type="submit") Sample Patient Page