extends ./layout.jade
block links
  link(rel="stylesheet", href="/css/homepage.css")
block content
  .jumbotron
    h2 Vision Therapy Online
      p.lead
        | Using state of the art technology to connect patients and eyecare providers.
      hr.m-y-2 
      p.quote "Developments in medical technology have long been confined to procedural or pharmaceutical advances, while neglecting a most basic and essential component of medicine: patient information management."
      hr.m-y-2
      p(class="lead, right")
        a.btn.btn-primary.btn-lg(href='/about', role='button') Learn more
        form(action="/auth/sample", method="post")
          input(type="hidden", name="user[username]", value="sample")
          input(type="hidden", name="user[password]", value="secret")
          button(type="submit") Go