<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Project 2
  link(rel="stylesheet", href="/css/style.css")
body
  block content
  script(src="https://fb.me/react-15.0.1.js")
  script(src="https://fb.me/react-dom-15.0.1.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.js")
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
  script(src="/js/components/PatientInfo.jsx" type="text/babel")
  script(src="/js/components/PatientExercises.jsx" type="text/babel")
  script(src="/js/components/PatientCard.jsx" type="text/babel")

  