html { 
  background: url(/images/404.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.desc, .error {
  font-family: "sans serif";
  color: white;
  position: absolute;
  z-index: 3;
}

.error {
  font-size: 5.0em;
}
.desc {
  text-align: left;
  font-size: 2em;
  left: 10%;
  top: 15%;
}