html, body, #container, #innerContain {
  height: 100%;
}

body {
  text-align: center;
  vertical-align: center;
  font-family: Courier;
}

#ex_name {
  margin-top: 5%;
  height: 10%;
  font-size: 2.5em;
}

#ex_contain {
  min-height: 60%;
  display: flex;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
}

.tranaglyph {
height: 250px;
}

#red {
}

#green {
/*  margin-left: -250px;
*/}

#slider {
  margin-top: 5%;
  height: 15%;  
  align-text: center;
  font-size: 2em;
}

input[type=range] {
  width: 50%;
  max-width: 480px;
}

