.container {
  text-align: center;
}

th {
  text-align: center;
}

table {
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 1px 0px 10px 1px rgba(224,217,213,1);
}

thead {
  border: 1px solid lightgray;
}

h3 {
  padding: 2%;
  border: 1px solid lightgray;
  box-shadow: 1px 0px 5px 1px rgba(224,217,213,1);
}

input {
  display: block;
  margin: auto;
}