#patientCard, #patientExercises, #patientInfo, .settings {


}

th {
  text-align: center;
}

table {
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 1px 0px 10px 1px rgba(224,217,213,1);
}

thead {
  border: 1px solid lightgray;
}

.text, .settings {
  font-size: 16px;
}

