extends ../layout.jade

block links
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/lumen/bootstrap.min.css")
  link(rel="stylesheet", href="/css/patientDash.css")

block content
  a(href="/auth/logout") logout
  .container
    h3 #{child}'s Vision Therapy Dashboard: Welcome!
    #patientDash
   
block scripts
  script(src="/js/components/patientDash.js" type="text/babel")



