extends ../layout.jade
block links 
  link(rel="stylesheet", href="./css/statics.css")
  link(rel="stylesheet", href="./css/404.css")
block navbar
block content
  .error 404 error
  .desc The page you are looking for may have been removed, had its name changed, or is temporarily unavailable.