extends ../layout.jade
block links 
  link(rel="stylesheet", href="./css/statics.css")
block content
  .panel(class="panel panel-default")
    .panel-heading 
      .panel-default About Vision Therapy Online™
    .desc We had a dream of providing high-quality, cost-effective vision therapy that any patient could access at home. A group of web developers with a background in vision founded Vision Therapy Online like last week. More than 3 days later, we offer world-class products and services that connect patients with their eyecare professionals, as well as extend access to quality healthcare.

  .panel(class="panel panel-default")
    .panel-heading
      .panel-default Meet The Founders
    .desc 
      img(src="/images/meetTheDevs.jpg", alt="picture of the founders") 
    .desc VTO was founded by Alex Chang, Katie Low, and Gunther Schneider

