extends ../layout.jade
block links
  link(rel="stylesheet", href="/css/ex3.css")

block content
  #container
    #ex_name Lifesavers Vergences
    img(src="/images/lifesavers.jpg", alt="lifesavers.jpg")
